<div class="nav-bar">
  <div class="nav-bar__container">
    <div class="row container__navbar-row">
      <div class="col-md-3 image-container">
        <a href="index.html">
          <img src="assets/images/logo1.png" class="width-60" />
        </a>
      </div>
      <div class="col-md-9 menu-container">
        <div class="row menu-container__menu-row">
          <div class="col-md-9 menu-row__menu-items">
            <div class="row">
              <div class="col-md-3 transform50">
                <a href="index.html" class="active"> Dashboard </a>
              </div>

              <div class="col-md-4 transform40">
                <a href="attendance_class.html">
                  <div class="card card-button p5">
                    <div class="row menu-items__card">
                      <div class="col-md-2">
                        <i class="fas fa-user-check"></i>
                      </div>
                      <div class="col-md-9" routerLink="/summary">
                        <span>Attendance Summary</span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-3 menu-row__menu-notification">
            <div class="row menu-notification__container">
              <div class="col-md-6 text-center container__bell">
                <a href="#">
                  <i class="fas fa-bell"></i>
                </a>
              </div>
              <div class="col-md-6 text-end container__signout">
                <!-- <a href="#">
                                            
                                              <img src="./assets/images/logout2.png" class="width-40">
                                          </a> -->

                <a (click)="logout()" style="cursor: pointer">
                  <span class="bold primary-color">Logout</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
